body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background: linear-gradient(rgba(61, 244, 25, 0.6), rgba(0,0,0,0.6)), url('background_image.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 3em;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2em;
}

div {
    margin: 2em;
    padding: 2em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
div h2{
    color: #ff4500;
    font-size: 2rem;
   
} 

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
}

.registration-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.registration-button:hover {
    background-color: #e0410e;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}